<!DOCTYPE HTML>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/cloudy.png" type="image/gif">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    
    <body>
        <div class="main-content">
            {{>header}}
            <p>This app is made by Afandy, and it uses 2 different APIs to get Weather Data.</p>
            <img class="about-img" src="img/snuggly-cat.webp">
        </div>
        
        {{>footer}}
    </body>
</html>
